@import './blocks/./_index.scss';

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  // *base styles
  --main-font: 'Inter', sans-serif;
  --width-container: 1170px;
  --padding-container: 15px;

  // *main colors
  --main-color: #ffffff;
  --accent-color: #8000ff;
  --bg-body: #0d0d0d;
  
  // *states
  --hover-color: rgba(82, 81, 81, 0.4);
  --hover-color-accent: rgba(176, 120, 232, 0.8);

  // *header
  --default-bg-navbar: rgba(22, 22, 22, 0);
  --active-bg-navbar: rgba(22, 22, 22, 1);
  --navbar-shadow: 4px 2px 8px rgba(0, 0, 0, 0.2);
  --menu-icon-color: #ffffff;

  // *app calc
  --bg-calc: #161616;
  --bg-display: rgba(82, 81, 81, 0.4);
  --bg--btn: #353333;
  --btn-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.1);

  // *footer
  --bg-footer: #161616;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);
  background-color: var(--bg-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 1 auto;
}
.container {
  max-width: calc(var(--width-container) + var(--padding-container) * 2);
  margin: 0 auto;
  padding-inline: var(--padding-container);
}

// *media

@media (max-width: 1025px) {
  
}
